{% extends 'navbar.html' %}


{% block content %}
<div class="container py-5">
    <div class="card card-body">
        <h1>DJANGO CRUD APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rem magni ipsam unde harum maiores. Ullam provident magnam adipisci ea nostrum ex porro quo! Omnis minus consectetur voluptatum soluta molestiae molestias, nostrum animi asperiores sed vel nesciunt minima nemo recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maiores, voluptatibus, fugiat obcaecati distinctio officia dolores iusto, veniam a molestias odit maxime corporis rerum. Labore, corrupti minima! Officia temporibus aspernatur odio eligendi earum voluptas, modi necessitatibus similique, quae in aut. Omnis recusandae quod dolorum ab labore. Inventore recusandae, illum nemo dolore suscipit expedita molestias voluptatum eveniet, adipisci perspiciatis numquam necessitatibus.</p>

        {% if user.is_authenticated %}
        {% else %}
        <div>
            <a class="btn btn-light" href="/signin">Sign in</a>
            <a class="btn btn-light" href="/signup">Sign up</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}