{% extends 'navbar.html' %}
{% block content %}
<!-- <h1>HARD COOK</h1>
{{error}}
<form action="/signup/" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        Submit
    </button>

</form> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 card  mt-5 p-3">
            <form action="/signup/"method="post">
                {% csrf_token %}
                <h2 class="text-center">Sign up</h2>
                <div class="text-danger">
                    {{error}}
                  </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                        placeholder='Write your username'>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                        placeholder='Enter your password'>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Password confirmation:</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        placeholder='Confirm your password'>
                </div>
                <button class="btn btn-light">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}